.content{
    width: 600px;
    border: 1px solid #000;
    margin: 0 auto;
}
.css-block{
    border-bottom: 1px solid #000;
}
ul{
    list-style: none;
}
li{
    margin-left: -25px;
}
li > .button{
    float: right;

}
hr{
    clear: both;
}
li.open > ul { display:block; }
li.closed > ul { display:none; } 